$primary-color: rgb(228, 18, 60);

$gold-color: #fdba2e;





p {
  font-size: 14px;
  line-height: 1.5;
}

img {
  width: 100%;
}


/*movie-card*/
.movie {
  // display: grid;
  // grid-template-columns: 2fr 400px .5fr 400px 2fr;
  // grid-template-areas: '. p . m .';

  // @media screen and (max-width: $large-screen) {
  //   grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  // }

  // @media screen and (max-width: $medium-screen) {
  //   grid-template-columns: 1fr 4fr 1fr;
  //   grid-template-areas: '. p .'
  //     '. m .';
  // }

  // @media screen and (max-width: $small-screen) {
  //   grid-template-columns: .5fr 4fr .5fr;
  //   grid-template-areas: '. p .'
  //     '. m .';
  // }

  // &__header {
  //   grid-area: p;


  // }

  &__poster {
    position: relative;
    color: #fff;



    &--release-date {
      position: absolute;
      background-color: $primary-color;
      padding: 10px;
      text-align: center;

      h2 {

        color: #fff;
      }

      .divider {
        background-color: #fff;
        height: 2px;
        width: 20px;
        margin: 10px auto;
      }

    }


  }

  &__content {


    &>div {
      margin-bottom: 30px;
    }

    &--header {
      p {
        margin: 5px 0;
      }

      .extra {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 640px) {
          justify-content: unset;


        }

        .ratings {

          @media (min-width: 640px) {

            margin-right: 2rem;

          }

          color: $gold-color;

          p {
            font-size: 18px;
          }
        }

        .channels>span {
          margin-right: 5px;
        }
      }
    }




  }
}
