@import url('https://fonts.googleapis.com/css?family=Lato');
/*-- Variables --*/
$grey-color: grey;
$primary-color: #3686ff;
$sec-color: #020518;
$gold-color: #fdba2e;

$large-screen: 1024px;
$medium-screen: 780px;
$small-screen: 500px;

/*---- Global ----*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  vertical-align: bottom;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: $grey-color;
}

p {
  font-size: 14px;
  line-height: 20px;
}

img {
  width: 100%;
}

@for $index from 1 through 6 {
  h#{$index} {
    color: $sec-color;
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 14px;
  margin-bottom: 15px;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  box-shadow: .2px .2px 1px $grey-color;
  z-index: 700;
  width: 100%;
  background-color: #fff;
  margin-bottom: 50px;

  @media screen and (max-width: $medium-screen) {
    flex-direction: column;
  }

  .logo {
    margin-right: auto;
    color: $primary-color;
    font-size: 28px;
    font-weight: 700;
  }

  .burger-menu {
    position: absolute;
    top: auto;
    right: 20px;
    display: none;
    cursor: pointer;

    @media screen and (max-width: $medium-screen) {
      display: block;
    }

    div {
      width: 35px;
      height: 5px;
      background-color: $primary-color;
      margin: 6px 0;
      transition: 0.4s;
    }

    &.is-active {
      div:first-child {
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      div:nth-child(2) {
        opacity: 0;
        transform: translateX(50px);
      }

      div:last-child {
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }

  .menu {
    @media screen and (max-width: $medium-screen) {
      height: 0px;
      opacity: 0;
      overflow: hidden;
      z-index: 300;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #fff;
      transition: all .3s ease-in-out;
    }

    &.is-active {
      opacity: 1;
      height: 200px !important;
    }

    a {
      margin: 0 20px;
      color: $sec-color;
      font-weight: 700;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

/*movie-card*/
.movie-card {
  display: grid;
  grid-template-columns: 2fr 400px .5fr 400px 2fr;
  grid-template-areas: '. p . m .';

  @media screen and (max-width: $large-screen) {
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  }

  @media screen and (max-width: $medium-screen) {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: '. p .'
      '. m .';
  }

  @media screen and (max-width: $small-screen) {
    grid-template-columns: .5fr 4fr .5fr;
    grid-template-areas: '. p .'
      '. m .';
  }

  .poster-wrapper {
    grid-area: p;

    .poster {
      position: relative;
      color: #fff;

      @media screen and (max-width: $small-screen) {
        margin-bottom: 30px;
      }

      .release-date {
        position: absolute;
        top: 30px;
        left: -30px;
        background-color: $primary-color;
        padding: 10px;
        text-align: center;

        h2 {
          font-size: 42px;
          color: #fff;
        }

        .divider {
          background-color: #fff;
          height: 2px;
          width: 20px;
          margin: 10px auto;
        }
      }

      .btn-play {
        position: absolute;
        bottom: 30px;
        right: -30px;
        background-color: $primary-color;
        padding: 15px;
        font-size: 24px;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
          background-color: $gold-color;
        }
      }
    }
  }

  .movie-info {
    grid-area: m;

    &>div {
      margin-bottom: 30px;
    }

    .header-section {
      p {
        margin: 5px 0;
      }

      .extra {
        display: flex;
        align-items: center;

        @media screen and (max-width: $small-screen) {
          display: block;
        }

        .ratings {
          margin-right: 50px;
          color: $gold-color;

          p {
            font-size: 18px;
          }
        }

        .channels>span {
          margin-right: 5px;
        }
      }
    }

    .cast-section {
      .casts {
        display: flex;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 15px;
        }
      }
    }

    .gallery-section {
      .gallery {
        display: grid;
        grid-template-columns: repeat(autofit, minmax(50px, 1fr));
        grid-auto-rows: 75px;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        grid-auto-flow: dense;

        .small {
          grid-column: span 1;
        }

        .medium {
          grid-column: span 3;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
